@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
  min-height: 100vh;
  font-family: 'Open Sans Condensed', sans-serif;
}

html {
  min-height: 100vh;
  position: relative;
}

main {
  min-height: 100%;
  padding: 0px;
  position: absolute;
  overflow: hidden;
}

#card-styles {
  margin-top: 25vh;
  max-width: 30em;
}

/*#sky, #location, #temp, #change-scale*/

h3, p, #find-me {
  font-family: 'Open Sans Condensed', sans-serif;
}

#sky {
  font-size: 2.5rem;
  text-align: center;
}

#location {
  font-size: 1.5rem;
}

#temp {
  font-size: 3rem;
}

#scale-btn {
  margin-top: 1em;
}

.center {
  margin: auto
}

.hide {
  visibility: hidden;
}

.text-black {
  color: black;
}

/* Google Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
